# Build
builds/*
!builds/*/.gitkeep
/*.bin
/*.bin.dSYM/
/*.exe
/*.pdb
/*.obj
/*.o
/*.mem
.idea
version.txt
/bunny_raylib
/bunny_sdl_sokol

# VSCode
.vscode/settings.json
.vscode/launch.json
ols.json
*.code-workspace

# RemedyBG
*.rdbg

# OSX shit
.DS_Store

# Blender
*.blend1

screenshots/*

media/levels/*/backups/*

dist/*
!dist/.gitkeep

/*.ctm
imgui.ini
